*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,Arial,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#050505;
color:white;
overflow-x:hidden;
}


/* BACKGROUND */

.bg-glow{

position:fixed;

width:700px;
height:700px;

right:-200px;
top:-200px;

background:
radial-gradient(
circle,
rgba(255,100,0,.45),
transparent 65%
);

filter:blur(120px);

z-index:-1;

animation:
move 8s infinite alternate;

}


@keyframes move{

to{
transform:translateY(200px);
}

}





/* NAV */

nav{

height:90px;

max-width:1450px;

margin:auto;

padding:
0 40px;


display:flex;
align-items:center;
justify-content:space-between;


}


.logo{

font-size:32px;
font-weight:900;

}


.logo span{

color:#ff6500;

}


.links{

display:flex;
gap:50px;

}


.links a{

color:#aaa;
cursor:pointer;

}


nav button{

padding:
14px 30px;

border-radius:40px;

border:0;

font-weight:800;

}





/* GLOBAL BUTTON */

button{

cursor:pointer;
transition:.3s;

}


.orange{

background:#ff6500;

border:0;

color:white;

padding:
17px 35px;

border-radius:50px;

font-weight:800;

box-shadow:
0 0 40px #ff650066;

}


.orange:hover{

transform:
translateY(-5px);

}



.outline{

background:transparent;

border:
1px solid rgba(255,255,255,.25);

color:white;

padding:
17px 35px;

border-radius:50px;

}





/* HERO */


.hero{

min-height:90vh;

max-width:1450px;

margin:auto;


padding:
80px 40px;


display:grid;

grid-template-columns:
1fr 460px;


align-items:center;


gap:90px;


}




.tag{

display:inline-block;

padding:
12px 22px;

border-radius:50px;

background:
rgba(255,255,255,.08);

border:
1px solid rgba(255,255,255,.15);


margin-bottom:35px;

}




.hero h1{


font-size:78px;

line-height:.95;

letter-spacing:-5px;


max-width:780px;

}


.hero h1 span,
.ar h2 span{


display:block;


background:
linear-gradient(
90deg,
#ff9500,
#ff2500
);


-webkit-background-clip:text;

color:transparent;


}




.hero-text p{


margin-top:35px;

font-size:22px;

line-height:1.7;

color:#aaa;

max-width:650px;


}




.hero-buttons{


display:flex;

gap:25px;

margin-top:45px;


}








/* DASHBOARD */


.hero-card{


padding:35px;


border-radius:35px;


background:
rgba(255,255,255,.08);


border:
1px solid rgba(255,255,255,.15);


backdrop-filter:blur(30px);


box-shadow:
0 40px 120px black;


animation:
float 5s infinite ease-in-out;


}




@keyframes float{


50%{

transform:
translateY(-25px);

}

}




.sales{


margin-top:30px;

padding:30px;

border-radius:28px;


background:
linear-gradient(
135deg,
#ff650066,
#ff000033
);


}



.sales h2{

font-size:42px;

margin-top:10px;

}




.ai{


margin-top:25px;

padding:25px;


background:
rgba(255,255,255,.08);

border-radius:25px;


}


.ai p{

color:#aaa;

margin-top:20px;

}





.mini{

display:grid;

grid-template-columns:
1fr 1fr;

gap:20px;

margin-top:25px;


}



.mini div{


padding:25px;

background:
rgba(255,255,255,.08);


border-radius:22px;


}


.mini p{

color:#aaa;

margin-top:10px;

}









/* AR SECTION */


.ar{

min-height:100vh;


max-width:1450px;

margin:auto;


padding:

120px 40px;



display:grid;

grid-template-columns:
1fr 420px;


gap:100px;


align-items:center;


}




.ar h2{


font-size:70px;

line-height:1;

letter-spacing:-4px;


}



.ar p{


margin:
35px 0;


font-size:22px;

line-height:1.7;

color:#aaa;

max-width:650px;


}




.phone{


height:650px;

padding:20px;


border-radius:45px;


background:
rgba(255,255,255,.08);


border:

1px solid rgba(255,255,255,.2);


box-shadow:

0 40px 120px black;


}



.camera{


height:430px;


border-radius:35px;


background:
linear-gradient(
#333,
#070707
);


display:flex;

align-items:center;

justify-content:center;


position:relative;

overflow:hidden;


}



.camera::before{


content:"";


position:absolute;


width:300px;
height:300px;


background:#ff650066;


filter:blur(70px);


}



.camera{


height:430px;


border-radius:35px;


background:
linear-gradient(
180deg,
#191919,
#050505
);


display:flex;


align-items:center;

justify-content:center;


position:relative;


overflow:hidden;


}



@keyframes spin{

to{
transform:rotate(360deg);
}

}



.phone h3{

font-size:28px;

margin:

25px 20px 5px;

}



.phone p{

margin-left:20px;

color:#aaa;

}



.phone button{


margin:

25px 20px;


width:calc(100% - 40px);


padding:17px;


border-radius:20px;


background:#ff6500;


color:white;


border:0;


}







/* PROCESS */


.process,
.features,
.brain,
.footer{


max-width:1450px;

margin:auto;

padding:
120px 40px;

text-align:center;


}



.process h2,
.features h2,
.brain h2{


font-size:55px;

margin-bottom:70px;


}




.steps,
.grid{


display:grid;

grid-template-columns:
repeat(4,1fr);

gap:30px;


}



.grid{

grid-template-columns:
repeat(3,1fr);

}




.steps div,
.grid div,
.brain-box div{


padding:40px;


border-radius:30px;


background:
rgba(255,255,255,.06);


border:

1px solid rgba(255,255,255,.1);


transition:.3s;


}



.steps div:hover,
.grid div:hover{


transform:

translateY(-10px);


background:

rgba(255,100,0,.12);


}



.steps h3,
.grid h3{

margin:

20px 0;


font-size:24px;


}



.steps p,
.grid p{

color:#aaa;

}





/* AI */


.brain-box{


display:grid;

gap:25px;


max-width:750px;

margin:auto;


font-size:22px;


}





/* FOOTER */


.footer h1{

font-size:65px;

margin-bottom:40px;


}








/* MOBILE */

@media(max-width:900px){


.links{

display:none;

}


.hero,
.ar{


grid-template-columns:1fr;


}


.hero h1,
.ar h2{

font-size:50px;

letter-spacing:-2px;

}



.steps,
.grid{


grid-template-columns:1fr;


}



.footer h1{

font-size:42px;

}

/* 3D FOOD MODEL */


model-viewer{


width:100%;

height:100%;


background:transparent;


--poster-color:
transparent;


}



/* AR BUTTON */


.ar-btn{


position:absolute;


bottom:20px;

left:50%;


transform:

translateX(-50%);



padding:

14px 30px;



border-radius:50px;



background:

linear-gradient(

90deg,

#ff9500,

#ff3500

);



color:white;


border:0;


font-weight:800;


box-shadow:

0 0 40px #ff650077;


}





.ar-btn:hover{


transform:

translateX(-50%)
translateY(-5px);


}






/* phone 3d effect */


.phone{


perspective:1000px;


transition:.4s;


}





.phone:hover{


transform:

scale(1.03)
rotateY(-5deg);


}


}